.Palette {
  height: 100vh;
}

.Palette-color {
  height: 90%;
}

.slider {
  margin: 0 10px;
  width: 340px;
  display: inline-block;
}

/* classes from rc-slider: */
.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 10px;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle:active {
  background-color: green;
  outline: none;
  box-shadow: none;
  border: 2px solid green;
  width: 13px;
  height: 13px;
  margin-left: -6px;
  margin-top: -2px;
}